/*==========================================================
    Abstract:
          => This Framework has been written
          => MD.SUJAN AHMED
============================================================*/


/*Start Framework*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a,
a:hover {
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
button,
input,
p {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-size: 17px;
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: 'Lato', sans-serif;
}

/*==========================================================
    background-color:-
============================================================*/
.bg-orange {
  background-color: #ffc61a;
}

/*==========================================================
    Text-color:-
============================================================*/
.text-orange {
  color: #ffc61a;
}

/*==========================================================
    btn:-
============================================================*/

/*==========================================================
    Padding Section:-
============================================================*/

/*==========================================================
    Margin:-
============================================================*/

/*End Framework*/





/*==========================================================
    Header Start
============================================================*/

header {
  background: url(/img/Header/header-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 739px;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
  background-color: #ffc61a;
  font-weight: bold;
  border-radius: 15px;
  padding: 4px 20px;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  padding: 4px 20px;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #000;
  background-color: #ffc61a;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}
header .header-info h3,p {
  font-weight: bold;
  text-transform: uppercase;
}
header .header-info h1 {
  font-weight: 900;
  font-size: 50px;
}
header .header-info p {
  letter-spacing: 7px;
}
.navbar-brand {
	padding-left: 40px;
}
.navbar-nav {
	padding-right: 40px;
}
.pb-5, .py-5 {
	padding-bottom: 4rem !important;
}

/*==========================================================
    Cab Start
============================================================*/

.cab-heaing {
	color: #101010;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}
.cab-head {
	font-size: 53px;
	font-weight: bold;
	text-transform: uppercase;
	color: #101010;
	margin-bottom: 25px;
	margin-top: 15px;
}
.cab-para {
	font-size: 18px;
	color: #101010;
	font-weight: normal;
	text-transform: none;
	margin-bottom: 30px;
}
.btn-dark {
	color: #fff;
	background-color: #101010;
	border-color: #343a40;
}

